<div class="container">
  <div class="row">
    <div class="col">
      <h3>Simple Airbnb</h3>
    </div>
    <div class="col">
      <h3><%= link_to 'Add Flat', new_flat_path, class:"btn btn-primary" %></h3>
    </div>
  </div>
  <hr>
</div>
